@import url("https://fonts.googleapis.com/css2?family=Carattere&family=Lobster+Two:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
.logo {
  font-family: "Lobster Two", cursive !important;
  font-weight: 700;
}
.short-about {
  background-color: rgba(135, 197, 222, 0.274);
}
.slogan {
  font-family: "Anton", sans-serif;
}
